@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');
body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: url("./image.jpg");
    background-size: cover;
  
 
    
}
h1{
    font-family: 'Yatra One', cursive;
    text-transform: uppercase;
    letter-spacing: 4px;
    
}
.clock{
    display: flex;
}
.clock div{
    margin: 0 5px;
    border: 1px solid black;
    height: 80px;
    width: 80px;
   text-align: center;
    background-image: linear-gradient(rgb(83, 83, 229) , rgb(233, 115, 115));
    border-radius: 5px ;
   
}
span{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center ;
   
}
.text{
    font-family: 'Yatra One', cursive;
    font-weight: 700;
   
}
#a12{

    font-weight: 600;
    border: 1px solid black;
    background-image: linear-gradient(rgb(83, 83, 229) , rgb(233, 115, 115));
    margin-top: 10px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
   
   display: flex;
   justify-content: center;
   align-items: center;
}
.digit{
    font-size: 30px;
}


 

